$color1:#E3E5E7;
$color2:#F1F2F3;
$color3:#61666D;
$color4:#fb7299;
$color5:#fc8bab;
$color6:#18191c;
$color7:#ff9212;
$color8:#ff9e2c;
$color9:#f07775;
$color10:#f38e8c;
$color11:#59ca73;
$color12:#6cd083;
$color13:#F6F7F8;
$color14:#00AEEC;